<div [@routerTransition]>
  <h2 >Awards </h2>
  <div style="float:right">
      <button class="btn btn-primary" > <span class="fa fa-plus"></span>
       New</button>
   </div>

<div class="card-body table-responsive">
    <table class="table table-hover table-striped">
        <thead>
        <tr>
            <th>S.No</th>
            <th>Name</th>
            <th>Action</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>1</td>
            <td>Institute of Conference</td>
            <td><div>
                <button type="button" class="btn btn-sm btn-success">Edit</button>
                <button type="button" class="btn btn-sm btn-danger">Delete</button>
            </div></td>
        </tr>
        <tr>
          <td>1</td>
          <td> Conference</td>
          <td><div>
            <button type="button" class="btn btn-sm btn-success">Edit</button>
            <button type="button" class="btn btn-sm btn-danger">Delete</button>
          </div></td>
        </tr>
        <tr>
          <td>1</td>
          <td>Institute </td>
          <td><div>
            <button type="button" class="btn btn-sm btn-success">Edit</button>
                <button type="button" class="btn btn-sm btn-danger">Delete</button>
          </div></td>
        </tr>

        </tbody>
    </table>
</div>
</div>

