<div [@routerTransition]>
  <h2>Conference Master </h2>
  <div style="float:right">
    <button class="btn btn-primary" (click)="open(content)"> <span class="fa fa-plus"></span>
      New</button>
  </div>
  <div class="card-body table-responsive">
    <table class="table table-hover table-striped">
      <thead>
        <tr>
          <th>S.No</th>
          <th>Title</th>
          <th>Date</th>
          <th>Place</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let res of response">
          <td>{{res.uniq_id}}</td>
          <td>{{res.con_title}}</td>
          <td>{{res.con_date}}</td>
          <td>{{res.con_place}}</td>
          <td>
            <div>
              <button type="button" class="btn btn-sm btn-success" (click)="getconf(res.uniq_id,content)">Edit</button>
              <button type="button" class="btn btn-sm btn-danger" (click)="delconf(res.uniq_id)">Delete</button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

</div>


<ng-template class="modal modal-lg" #content let-c="close" let-d="dismiss">

  <div class="modal-header">
    <h4 class="modal-title">Add Conference</h4>
    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="row">
      <div class="col-lg-6">
        <fieldset class="form-group">
          <label>Title:</label>
          <input class="form-control" [(ngModel)]="conf['con_title']" name="con_title" placeholder="Enter Title">
        </fieldset>
      </div>

      <div class="col-lg-6">
        <fieldset class="form-group">
          <label>Date:</label>
          <div class="input-group datepicker-input">
            <input class="form-control" placeholder="yyyy-mm-dd" name="dp" ngbDatepicker
              #d="ngbDatepicker">
            <button class="input-group-addon" (click)="d.toggle()" type="button">
              <!-- <img src="img/calendar-icon.svg" style="width: 1.2rem; height: 1rem; cursor: pointer;"/> -->
              <span class="fa fa-calendar"></span>
            </button>
          </div>
        </fieldset>
      </div>

      <div class="col-lg-6">
        <fieldset class="form-group">
          <label>Place:</label>
          <input class="form-control" [(ngModel)]="conf['con_place']" placeholder="Enter Place">
        </fieldset>
      </div>

      <div class="col-lg-6">
        <fieldset class="form-group">
          <label>Theme:</label>
          <input class="form-control" [(ngModel)]="conf['con_theme']" placeholder="Enter Theme">
        </fieldset>
      </div>

      <div class="col-lg-6">
        <fieldset class="form-group">
          <label>Email:</label>
          <input type="email" class="form-control" [(ngModel)]="conf['con_email']" placeholder="Enter Email">
        </fieldset>
      </div>

      <div class="col-lg-6">
        <div class="form-group">
          <label>Country:</label>
          <select class="form-control" [(ngModel)]="conf['con_country']">
            <option value="selected">Select Country</option>
            <option>India</option>
            <option>Soudi</option>
            <option>Austrlia</option>
            <option>England</option>

          </select>
        </div>
      </div>

      <div class="col-lg-6">
        <div class="form-group">
          <label>Subject:</label>
          <select class="form-control" [(ngModel)]="conf['con_subject']">
            <option value="selected">Select Subject</option>
            <option>Maths</option>
            <option>Chemistry</option>
            <option>English</option>
            <option>Hindi</option>
          </select>
        </div>
      </div>

      <div class="col-lg-6">
        <label for="exampleInputFile">Banner:</label>
        <div class="form-control">
          <input type="file" class="form-control-file" [(ngModel)]="conf['con_banner']" id="exampleInputFile">
        </div>
      </div>

      <div class="col-lg-6">
        <div class="form-group">
          <label>Committee:</label>
          <select class="form-control" [(ngModel)]="conf['con_opt_1']">
            <option value="selected">Select </option>
            <option>1</option>
            <option>2</option>
            <option>3</option>
            <option>4</option>
          </select>
        </div>
      </div>
      <div class="col-lg-6">
        <div class="form-group">
          <label>Abstract:</label>
          <select class="form-control" [(ngModel)]="conf['con_opt_2']">
            <option value="selected">Select </option>
            <option>1</option>
            <option>2</option>
            <option>3</option>
            <option>4</option>
          </select>
        </div>
      </div>
      <div class="col-lg-6">
        <div class="form-group">
          <label>Register:</label>
          <select class="form-control" [(ngModel)]="conf['con_opt_3']">
            <option value="selected">Select </option>
            <option>1</option>
            <option>2</option>
            <option>3</option>
            <option>4</option>
          </select>
        </div>
      </div>

      <div class="col-lg-6">
        <div class="form-group">
          <label>Schedule:</label>
          <select class="form-control" [(ngModel)]="conf['con_opt_4']">
            <option value="selected">Select </option>
            <option>1</option>
            <option>2</option>
            <option>3</option>
            <option>4</option>
          </select>
        </div>
      </div>
      <div class="col-lg-6">
        <div class="form-group">
          <label>Awards:</label>
          <select class="form-control" [(ngModel)]="conf['con_opt_5']">
            <option value="selected">Select </option>
            <option>1</option>
            <option>2</option>
            <option>3</option>
            <option>4</option>
          </select>
        </div>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-secondary" (click)="c('Close click')">Close</button>
    <button type="button" class="btn btn-primary" (click)="saveConf()"> Save</button>

  </div>

</ng-template>
